In [8]:
import pandas as pd

#import data
df = pd.read_csv('input.csv')
#split the column "Transaction Code" and name the column "Bank"
df['Bank'] = df['Transaction Code'].apply(lambda x: x.split('-')[0])

#Rename the values in "Online or In-person" column, 1 = Online and 2 = In-Person
df['Online or In-Person']=df['Online or In-Person'].apply(lambda x:'Online' if x == 1 else 'In-Person')

#Convert "Transaction Date" from string to datetime type
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], format= "%d/%m/%Y %H:%M:%S")

#Change the column "Transaction date" to be the day of the week
df['Transaction Date'] = df['Transaction Date'].apply(lambda x : x.day_name())

#Total Values of Transactions by each bank
total_values= df.groupby('Bank')['Value'].sum()

#export csv
total_values.to_csv("/Users/gouriguggari/Desktop/Data-Prep/Total_Values.csv")

#Total Values by Bank, Day of the Week and Type of Transaction (Online or In-Person)
total_value_by= df.groupby(['Bank','Transaction Date','Online or In-Person'])['Value'].sum()

##export csv
total_value_by.to_csv("/Users/gouriguggari/Desktop/Data-Prep/Total_Values_by.csv")

total_value_by_custcode= df.groupby(['Bank','Customer Code'])['Value'].sum()

In [9]:
total_value_by_custcode

Bank  Customer Code
DS    100000           57909
      100001           53063
      100002           69803
      100003           25482
      100004           63315
      100005           39668
      100006           77636
      100007           76190
      100008           56400
      100009           56581
      100010           77893
DSB   100000           27585
      100001           67856
      100002           27936
      100003           58154
      100004           39003
      100005           56396
      100006           32333
      100007           29702
      100008           47121
      100009           51749
      100010           92654
DTB   100000           77252
      100001           60675
      100002           48616
      100003           84574
      100004           44435
      100005           37795
      100006           41909
      100007           29308
      100008           69352
      100009           52926
      100010           71396
Name: Value, dtype: int64